# =========================
# Java
# =========================
*.class
*.iml
*.gitignore
# Build / output folders
bin/
out/
target/
./.idea/
# =========================
# VS Code
# =========================
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
# =========================
# OS / temp files
# =========================
.DS_Store
Thumbs.db
*.log
*.tmp

# =========================
# Archives
# =========================
*.jar
*.war
*.ear
